NGINX_PORT=8080
WORKERMAN_PORT=8081

MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_DATABASE=app_db
MYSQL_USER=app_user
MYSQL_PASSWORD=change_me_user_password

REDIS_PORT=6379
NODE_PORT=5173
